<?xml version="1.0"?>
<model>
  <name>stallion_vtol</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>SACHIN</name>
    <email>user@example.com</email>
  </author>

  <description>
    Flightory Stallion VTOL Tilt-Tricopter Model for Gazebo Sim (Harmonic)
  </description>
</model>
